<div class="card">
  <div [ngClass]="{
  'show-more': !collapsed 
  }" (mouseleave)="collapsed=true">
  <img src="{{item.imageUrl}}" alt="" class="card-img-top">
  <div class="card-body">
    <h4 class="card-title">{{item.title}}</h4>
    <p class="card-text" *ngIf="item.paragraph.length>10 && collapsed; else showAll">
        {{item.paragraph|shorten}} <a href="#" (click)="showAllText()">show more</a>
    </p>
    <ng-template #showAll>
      <p class="card-text">
        {{item.paragraph}}
      </p>
    </ng-template>
  </div>
  </div>
</div>