<div class="container">
  <div class="row">
    <div class="col-md-4"></div>
    <div class="col-12 col-md-4">
      <form class="my-5">
        <h4 class="center">Login</h4>
        <div class="form-group">
          <label for="username">Username</label>
          <input type="text" id="username" placeholder="Please wrtie your username" class="form-control">
          <label for="password">Password</label>
          <input type="password" id="password" placeholder="Please wrtie your password" class="form-control">
        </div>
        <div class="center">
          <button class="btn btn-gold">login</button>
        </div>
      </form>
    </div>
    <div class="col-md-4"></div>
  </div>
</div>
