<div class="container">
  <div class="row">
    <div class="col-md-2"></div>
    <div class="col-12 col-md-8">
      <mat-card class="mt-5">
        <mat-card-header class="center">
          <mat-card-title>Sign Up</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <div class="alert alert-danger" [hidden]="alertDanger">{{alertContent}}</div>
          <div class="alert alert-success" [hidden]="alertSuccess">{{alertContent}}</div>
          <form class="my-5" [hidden]="loading" [formGroup]="signupForm" (ngSubmit)="onSubmit()">
            <mat-form-field class="w-100">
              <mat-label>First name</mat-label>
              <input matInput formControlName="fname" placeholder="Please enter your first name">
              <mat-icon matSuffix>account_box</mat-icon>
              <mat-error *ngIf="signupForm.get('fname').hasError('required')">First name is required</mat-error>
              <mat-error *ngFor="let error of signupForm.get('fname').errors?.backEndErrors">{{error}}</mat-error>
            </mat-form-field>
            <mat-form-field class="w-100">
              <mat-label>Last name</mat-label>
              <input matInput formControlName="lname" placeholder="Please entger your last name">
              <mat-icon matSuffix>account_box</mat-icon>
              <mat-error *ngIf="signupForm.get('lname').hasError('required')">Last name is required</mat-error>
              <mat-error *ngFor="let error of signupForm.get('lname').errors?.backEndErrors">{{error}}</mat-error>
            </mat-form-field>
            <!--<div class="form-row my-2">
              <label for="email" class="col-3">Email</label>
              <div class="col-9">
                <input type="email" id="email" formControlName="email" placeholder="Please wrtie your email" class="form-control" [ngClass]="{'is-invalid': !signupForm.get('email').valid && signupForm.get('email').touched && signupForm.get('email').errors}">
                <div class="loading"></div>
                <div class="invalid-feedback" *ngIf="!signupForm.get('email').valid && signupForm.get('email').touched">
                  <div *ngIf="signupForm.get('email').errors && signupForm.get('email').errors.required">Please enter username </div>
                  <div *ngIf="signupForm.get('email').errors && signupForm.get('email').errors.minlength">Username must be at least of 3 characters length </div>
                </div>
              </div>
            </div>-->
            <mat-form-field class="w-100">
              <mat-label>Email</mat-label>
              <input formControlName="email" matInput placeholder="Please enter your email">
              <mat-icon matSuffix>email</mat-icon>
              <mat-error *ngIf="signupForm.get('email').hasError('required')">Email is required</mat-error>
              <mat-error *ngIf="signupForm.get('email').hasError('email')">Email must be valid</mat-error>
              <mat-error *ngFor="let error of signupForm.get('email').errors?.backEndErrors">{{error}}</mat-error>
            </mat-form-field>
            <div formGroupName="passwordGroup">
              <mat-form-field class="w-100">
                <mat-label>Password</mat-label>
                <input formControlName="password" [type]="hide ? 'password' : 'text'" matInput placeholder="confirm password">
                <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                <mat-error *ngIf="signupForm.get('passwordGroup.password').hasError('required')">Password is required</mat-error>
                <mat-error *ngIf="signupForm.get('passwordGroup.password').hasError('minlength')">Password must be at least of 8 characters</mat-error>
                <mat-error *ngFor="let error of signupForm.get('passwordGroup.password').errors?.backEndErrors">{{error}}</mat-error>
              </mat-form-field>
              <mat-form-field class="w-100">
                <mat-label>Confirm Password</mat-label>
                <input formControlName="repassword" [type]="hide ? 'password' : 'text'" matInput [errorStateMatcher]="matcher" placeholder="confirm password">
                <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                <mat-error *ngIf="signupForm.get('passwordGroup.repassword').hasError('required')">Please confirm your password</mat-error>
                <mat-error *ngIf="signupForm.get('passwordGroup').hasError('unmatchedPasswords')">Passwords don't match!</mat-error>
                <mat-error *ngFor="let error of signupForm.get('passwordGroup.repassword').errors?.backEndErrors">{{error}}</mat-error>
              </mat-form-field>
            </div>
            <div class="form-row my-2">
              <label class="col-3">Gender</label>
              <div class="col-9">
                <mat-radio-group formControlName="gender">
                  <mat-radio-button color="primary" *ngFor="let gender of genders" class="mr-3" value="{{gender}}">{{gender}}</mat-radio-button>
                </mat-radio-group>
                <mat-error *ngFor="let error of signupForm.get('gender').errors?.backEndErrors">{{error}}</mat-error>
              </div>
            </div>
            <div class="center">
              <button 
                mat-raised-button
                type="submit" 
                color="primary"
                >
                Sign up <mat-icon>how_to_reg</mat-icon>
              </button>
            </div>
          </form>
          <mat-spinner style="margin:20px auto;" [hidden]="!loading"></mat-spinner>
        </mat-card-content>
      </mat-card>
    </div>
    <div class="col-md-2"></div>
  </div>
</div>