<div class="container">
  <div class="row">
    <div class="col-md-2"></div>
    <div class="col-12 col-md-8">
      <form class="my-5" [formGroup]="signupForm" (ngSubmit)="onSubmit()">
        <h4 class="center">Login</h4>
        <div class="form-row my-2">
          <label for="fname" class="col-3">Firstname</label>
          <div class="col-9">
            <input type="text" id="fname" formControlName="fname" placeholder="Please wrtie your firstname" class="form-control"  [ngClass]="{'is-invalid': !signupForm.get('fname').valid && signupForm.get('fname').touched}">
            <div class="invalid-feedback" *ngIf="!signupForm.get('fname').valid && signupForm.get('fname').touched">Please enter firstname</div>
          </div>
        </div>
        <div class="form-row my-2">
          <label for="lname" class="col-3">Lastname</label>
          <div class="col-9">
            <input type="text" id="lname" formControlName="lname" placeholder="Please wrtie your lastname" class="form-control"  [ngClass]="{'is-invalid': !signupForm.get('lname').valid && signupForm.get('lname').touched}">
            <div class="invalid-feedback" *ngIf="!signupForm.get('lname').valid && signupForm.get('lname').touched">Please enter lastname</div>
          </div>
        </div>
        <div class="form-row my-2">
          <label for="email" class="col-3">Email</label>
          <div class="col-9">
            <input type="email" id="email" formControlName="email" placeholder="Please wrtie your email" class="form-control" [ngClass]="{'is-invalid': !signupForm.get('email').valid && signupForm.get('email').touched && signupForm.get('email').errors}">
            <div class="loading"></div>
            <div class="invalid-feedback" *ngIf="!signupForm.get('email').valid && signupForm.get('email').touched">
              <div *ngIf="signupForm.get('email').errors && signupForm.get('email').errors.required">Please enter username </div>
              <div *ngIf="signupForm.get('email').errors && signupForm.get('email').errors.minlength">Username must be at least of 3 characters length </div>
            </div>
          </div>
        </div>
        <div formGroupName="passwordGroup">
        <div class="form-row my-2">
          <label for="password" class="col-3">Password</label>
          <div class="col-9">
            <input type="password" id="password" formControlName="password" placeholder="Please wrtie your password" class="form-control"  [ngClass]="{'is-invalid': !signupForm.get('passwordGroup.password').valid && signupForm.get('passwordGroup.password').touched}">
            <div class="invalid-feedback" *ngIf="!signupForm.get('passwordGroup.password').valid && signupForm.get('passwordGroup.password').touched">
              <div *ngIf="signupForm.get('passwordGroup.password').errors.required">Please enter password</div>
              <div *ngIf="signupForm.get('passwordGroup.password').errors.minlength">Password must be at least of 8 characters</div>
            </div>
          </div>
        </div>
        <div class="form-row my-2">
          <label for="repassword" class="col-3">Re-type Password</label>
          <div class="col-9">
            <input type="password" id="repassword" formControlName="repassword" placeholder="Please rewrtie your password" class="form-control"  [ngClass]="{'is-invalid': !signupForm.get('passwordGroup.repassword').valid && signupForm.get('passwordGroup.repassword').touched}">
            <div class="invalid-feedback" *ngIf="!signupForm.get('passwordGroup.repassword').valid && signupForm.get('passwordGroup.repassword').touched">Please confirm your password</div>
            <div class="invalid-feedback" *ngIf="!signupForm.get('passwordGroup').valid && signupForm.get('passwordGroup').touched && signupForm.get('passwordGroup.repassword').touched && signupForm.get('passwordGroup.password').touched">Passwords don't match!</div>
          </div>
        </div>
        </div>
        <div class="form-row my-2">
          <label class="col-3">Gender</label>
          <div class="col-9">
            <label *ngFor="let gender of genders" class="mr-3">
              <input type="radio" formControlName="gender" value="{{gender}}">{{gender}}
            </label>
          </div>
        </div>
        <div class="center">
          <button 
            type="submit" 
            class="btn btn-gold" 
            [disabled]="!signupForm.valid">
            Sign up
          </button>
        </div>
      </form>
    </div>
    <div class="col-md-2"></div>
  </div>
</div>