@import "~@angular/material/prebuilt-themes/indigo-pink.css";

.center{
    text-align: center;
}
.btn-gold{
    background-color: #ffd700a6 !important;
    outline: gold;
}
.btn-gold:focus{
    box-shadow: 0 0 0 0.2rem #ffc10726 !important;
}
.invalid-feedback{
    display: block;
}
.ng-pending ~ .loading{
    position: absolute;
    top: 0;
    right: 5px;
    z-index: 100000;
    background: url('https://loading.io/spinners/balls/lg.circle-slack-loading-icon.gif');
    background-size: contain;
    background-repeat: no-repeat;
    width: 40px;
    height: 40px;
}